

@import "~bootstrap/scss/bootstrap";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:#c4c3eb ;
}
.currency {
  background-color:#F1F3F6;
  justify-content: center;
  padding: 2rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-top:7rem;
}
span{
    padding-left:2rem;
}
input{
    background-color: #ffffff;
    color:#1C64F4;
    width:55%;
    margin-top:0.3rem;
    border:none;
    font-size:1.5rem;
    padding:0.2rem 0;
    font-weight: bold;
    padding-left:0.5rem;
    border-radius: 0.5rem;
    transition: all 0.4s;
    
    }
input:hover{
  width:70%;
  padding:0.4rem 0;
  font-size:1.6rem;
}
input#result{
      background-color: #F1F3F6;
    }
input:focus{
      outline:1px solid #1C64F4;

    }
button{
    margin-top:3rem;
    border:none;
    font-size:1.5rem;
    width: 100%;
    background-color: #1C64F4;
    color: white;
    padding: 10px;
    border-radius: 0.5rem;
  }
  button:hover{
    background-color: white;
    color:#1C64F4;
  }
  select {
    border: 1px solid white;
    background-color: white;
    color:rgb(88,88,88);
    padding: 0 10px;
    cursor: pointer;
    height:2.5rem;
    margin-top:0.3rem;
    border-radius:1rem;
  }
img{
  width:60%;
  margin:1.3rem 0 0.5rem 0;
  cursor: pointer;
}
